<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{url_for('static', filename='Wipro.png')}}" type="image/png">
   <title>Tool - Home</title>
</head>
<body>
<marquee style="font-style: italic;color: #f00;font-size: 25px"><b>Welcome to WIPRO - TicketAnalysisTool</b></marquee>
<br>
{% with messages = get_flashed_messages() %}
         {% if messages %}
         <fieldset style="background-color: #fff;">
            <ul>
            <li><b>Attention !!</b></li>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
            </fieldset>
         {% endif %}
      {% endwith %}
      <br><br>
<fieldset style="background-color: #fff;">
<legend><b>Upload your files..</b></legend>
   <form action="http://127.0.0.1:5000/results/" method="post" enctype="multipart/form-data">
   <dl>
   <dt>DB password</dt>
   <dd><input type="password" name="pass" placeholder="Password" required></dd><br>
   <dt>Choose your file</dt>
   <dd><input type="file" name="file" align="center" style="cursor: pointer"></dd><br>
   </dl>
   <input type="submit" name="sbutton" value="UPLOAD" align="center" style="cursor: pointer;height: 30px">
   </form>
<br><br><br><br>

<form action="http://127.0.0.1:5000/alreadyuploaded/" method="post">
<input type="password" name="password" placeholder="DB Password" required><br><br>
<b style="font-size: 20px;font-style: italic;color: #00f">Data already uploaded ?</b>&nbsp &nbsp
<input type="submit" name="ssbutton" value="Your Query Here" style="cursor: pointer;height: 30px"> 
</form>

</fieldset>
<br><br>
<center><i>Developed by : Rakshit Kapoor<br>kapoor_rakshit@yahoo.co.in</i></center>
</body>
</html>