<!DOCTYPE html>
<html>
<head>
	<title>Tool - Results</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}


<b>Voila !! File Uploaded Successfully !!</b>
<br><br>
<fieldset>
	<form action="http://127.0.0.1:5000/analysis/" method="post" target="_blank">
	Enter password:<br>
	<input type="password" name="password" placeholder="DB password" value="{{passval}}" required autofocus>
	<br><br>
	<b>NOTE : Mind the typo, reST LeaVE On uS</b><br><br>
	<ol>
	<li><b style="font-style: italic;">COUNT FIELD</b> : Enter keywords with delimiter as <b><i>','</i></b> :
	<br><br>
	Example: <b>sEVEriTY : 1 - MinoR , TiCKeT_TyPE : iSsuE , reQueSter_SenIORIty : 1 - juNIoR , ......<br><br>
	</b><ul>
	<li>Severity<b> : </b>(intcode)(space)(-)(space)(Type)
	<li>Filed_Against<b> : </b>(Type)
	<li>Priority<b> : </b>(intcode)(space)(-)(space)(Type)</li>
	<li>Requester_Seniority<b> : </b>(intcode)(space)(-)(space)(Type)</li>
	<li>Satisfaction<b> : </b>(intcode)(space)(-)(space)(Type)</li>
	<li>Ticket_Type<b> : </b>(Type)</li>
	</ul>
	<br>
	<input type="text" name="query" placeholder="query for Count" onfocus="this.value=''" style="width: 400px;height: 30px;font-size: 17px" autofocus>
	<br><br>

	<li><b style="font-style: italic;">REQUEST_ID or IT_OWNER_ID FIELD</b> : Enter id and property to compare:<br><br>
	Example: <b>iT_oWneR_id : 22 , SeVEritY</b><br><br>
	<ul>
		<li>Request_ID<b> : </b>(intcode)</li>
		<li>IT_owner_ID<b> : </b>(intcode)</li>
	</ul><br>
	<b>Properties:</b><br>
	<ul>
		<li>Severity</li>
		<li>DaysOpen</li>
		<li>FiledAgainst</li>
		<li>Priority</li>
		<li>RequesterSeniority</li>
		<li>Satisfaction</li>
		<li>TicketType</li>
	</ul>
	<br>
	<input type="text" name="rqidquery" placeholder="query related to REQUEST_ID/IT_OWNER_ID" onfocus="this.value=''" style="width: 400px;height: 30px;font-size: 17px">
	<br><br>

<li><b style="font-style: italic;">PROPERTY FIELD</b> : Enter a property to visualize it
<br><br>
Example : <b>sEvERiTy</b><br><br>
<ul>
	<li>Severity
	<li>DaYs_oPen
	<li>Filed_aGainst
	<li>Priority
	<li>reQuesTer_seNiority
	<li>satiSfaction
	<li>tickEt_typE
</ul>
<br>
<input type="text" name="propquery" placeholder="query related to PROPERTY" onfocus="this.value=''" style="width: 400px;height: 30px;font-size: 17px">
<br><br>
	<input type="submit" name="submit" value="SUBMIT" style="cursor: pointer;height: 30px;border-width: 2pt">
</form>
</fieldset>
<br>
Type of file uploaded : {{contenttype}}
<br>
Results fetched in : {{tm}} seconds
<br><br>
</body>
</html>