<!DOCTYPE html>
<html>
<head>
  <title>Tool - Results</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
      "number",
      "TicketType",
      "RequesterSeniority",
      "Severity",
      "FiledAgainst",
      "Priority",
      "Satisfaction",
      "DaysOpen",
      "RequesterID",
      "IT_OWNER_ID",
      "Unclassified",
      "Minor",
      "Normal",
      "Major",
      "Critical",
      "Issue",
      "Request",
      "Junior",
      "Regular",
      "Senior",
      "Management",
      "Systems","Software","Access/Login","Hardware","Low","Medium","High","Unsatisfied","Satisfied","HighlySatisfied"
    ];
      {%for i in suggestions%}
availableTags.push("{{i}}")
{%endfor%}
    function split( val ) {
      return val.split(/ \s*/);                           //ATTENTION : mind the (space) or your desired delimiter (,:;) after first / 
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#words" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 1,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term )) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the space at the end
          terms.push( "" );
          this.value = terms.join(" ");                    //Add your desired delimiter (here (space))
          return false;
        }
      });
  } );
  </script>
</head>
<body>

{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}


<b>Voila !! File Uploaded Successfully !!</b>
<br><br>
<fieldset>
  <form action="http://127.0.0.1:5000/analysis/" method="post" target="_blank">
  <input type="hidden" name="password" placeholder="DB password" value="{{passval}}" required>
  <br>
  <b>NOTE : Mind the typo, reST LeaVE On uS</b><br>
  <center><b>Anything Here !!</b><br><br>
  <input type="text" name="genquery" id="words" placeholder="Your Query" style="width: 800px;height: 30px;font-size: 17px;text-align: center;" autofocus><br><i>Note: Search is currently in Beta, set your expectations to a minimum!</i>
  </center><br><br>
  <ol>
  <li><b style="font-style: italic;">COUNT FIELD</b> : Enter keywords with delimiter as <b><i>','</i></b> :
  <br><br>
  Example: <b>sEVEriTY : MinoR , TiCKeTTyPE : iSsuE , reQueSterSenIORIty : juNIoR , ......<br><br>
  </b><table>
  <tr><td>Severity</td><td><b> : </b></td><td>(Type)</td></tr>
  <tr><td>DaysOpen</td><td><b> : </b></td><td>(intcode)</td></tr>
  <tr><td>FiledAgainst</td><td><b> : </b></td><td>(Type)</td></tr>
  <tr><td>Priority</td><td><b> : </b></td><td>(Type)</td></tr>
  <tr><td>RequesterSeniority</td><td><b> : </b></td><td>(Type)</td></tr>
  <tr><td>Satisfaction</td><td><b> : </b></td><td>(Type)</td></tr>
  <tr><td>TicketType</td><td><b> : </b></td><td>(Type)</td></tr>
  <tr><td>ITownerID</td><td><b> : </b></td><td>(intcode)</td></tr>
  <tr><td>RequesterID</td><td><b> : </b></td><td>(intcode)</td></tr>
  </table>
  <br>
  <input type="text" name="query" placeholder="query for COUNT" style="width: 400px;height: 30px;font-size: 17px;text-align: center;">
  <br><br>

  <li><b style="font-style: italic;">REQUEST_ID or IT_OWNER_ID FIELD</b> : Enter id and property to compare:<br><br>
  Example: <b>IT_owner_ID : 22 , Severity</b><br><br>
  <table>
    <tr><td>Request_ID</td><td><b> : </b></td><td>(intcode)</td></tr>
    <tr><td>IT_owner_ID</td><td><b> : </b></td><td>(intcode)</td></tr>
  </table><br>
  <b>Properties:</b><br>
  <ul>
    <li>Severity</li>
    <li>DaysOpen</li>
    <li>FiledAgainst</li>
    <li>Priority</li>
    <li>RequesterSeniority</li>
    <li>Satisfaction</li>
    <li>TicketType</li>
    <li>ITownerID</li>
    <li>RequesterID</li>
  </ul>
  <br>
  <input type="text" name="rqidquery" placeholder="query related to REQUEST_ID/IT_OWNER_ID" style="width: 400px;height: 30px;font-size: 17px;text-align: center;">
  <br><br>

<li><b style="font-style: italic;">PROPERTY FIELD</b> : Enter a property to visualize it
<br><br>
Example : <b>SEVERITY</b><br><br>
<ul>
  <li>Severity
  <li>DaysOpen
  <li>FiledAgainst
  <li>Priority
  <li>RequesterSeniority
  <li>Satisfaction
  <li>TicketType
</ul>
<br>
<input type="text" name="propquery" placeholder="query related to PROPERTY" onfocus="this.value=''" style="width: 400px;height: 30px;font-size: 17px;text-align: center;">
<br><br>
  <input type="submit" name="submit" value="SUBMIT" style="cursor: pointer;height: 30px;border-width: 2pt">
</form>
</fieldset>
<br>
Type of file uploaded : {{contenttype}}
<br>
Results fetched in : {{tm}} seconds
<br><br>
</body>
</html>